







.rows{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 200px;
    align-items: center;
    margin-bottom: 40px;
}

.row1{
    background-color: gray;
    width: 300px;
    height: 200px;
}

.cards{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}
.card{
    width: 250px;
    padding-bottom: 25px;
   
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 1rem;
}
.card img{
    width: 100%;
}
.text{
    padding-left: 20px;
}


@media only screen and (max-width: 390px){
   
    .rows{
        flex-direction: column;
        height: 600px;
    }
    .row1{
        /* background-color: blue; */
        width: 300px;
        height: 300px;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}